html, body, .container{
	height: 100%;
	font-family: 'Raleway', sans-serif;
}
.blue-text {
	color: #21C4FC;
}
.blue-background {
	background-color:  #21C4FC;
	color: #fff;
}
.banner-background{
	background-image: url("../images/nyc1.png");
	background-size: cover;
	background-color: #262626;
	color: #fff;
}
.grey-background {
	background-color: #231F20;
	color: #fff;
	padding: 50px;
}

.grey-background legend {
	color: #fff;
}
.grey-background button {
	background-color: #231F20;
}

.light-grey-background{
	background-color: #D1D3D4;
	color: #fff;

}
.light-grey-background h2{
	color: #000;
	font-size: 1em;
}
.light-grey-background p{
	font-size: 1.2em;
}

.section {
	min-height:70%;
}

.title-group{
	padding: 60px 30px;
}
.info-group{
	padding: 60px 30px;
}

.title{
	font-size: 56px;
	line-height: 50px;
	padding-left: 13px;
}
.title-larger{
	font-size: 76px;
	line-height: 70px;
	padding-left: 13px;
}
.giant-title{
	font-size: 250px;
  line-height: 210px;
}
.info-section{
	padding: 0px 5px 5px;
}

.info-section h1, p{
	font-size:26px;
}
.info-section p {
	color: #000;
	line-height: 17px;
}

button {
    background-color: #21C4FC;
    border: 2px #fff solid;
    width: 200px;
    text-align: left;
    padding: 8px 0px 8px 15px;
    font-weight: 700;
    font-size: 18px;
}

/* Clip text element */
.clip-text {
    font-size: 12em;
    font-weight: 900;
    line-height: .7;
    position: relative;
    display: inline-block;
  /*  margin: .25em;*/
    padding: .3em .35em;

    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

/* Background */
.clip-text:before {
    z-index: -2;
  /*  top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/
    background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
    position: absolute;
  /*  z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;*/
    background-color: #000;
}

/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
    /*background-position: -.65em 0;*/
}

.clip-text--no-textzone:after {
    content: none;
}

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
  /*background-position: 50% 50%;*/
}
.clip-text_one {
    background-image: url(../images/nyc1.jpg);
}
